body {
  min-height: 100vh;
}
:root {
  --main-color: #d3c0a0;
  --hover-color: #d6cbb9;
  --task-color: #88bdbc;
  --task-hover: #5c9ea0;
}
/* start component class */
.btn_Mobile {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #888;
  position: fixed;
  bottom: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 100;
}
/* end component class */

/* start navbar */
.nav {
  scrollbar-width: none;
}
.scroll-width-none::-webkit-scrollbar {
  display: none;
}

.nav li a.nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #4f4f4c !important;
  font-size: 1.2rem;
  border-bottom: 1px solid transparent;
}
.nav li a:hover {
  color: #7d7979 !important;
  border-bottom-color: rgb(110, 110, 110);
}
nav div .nav-link.active {
  color: #7d7979 !important;
  border-bottom-color: rgb(110, 110, 110);
}
nav div button.addCategory {
  color: var(--main-color, #d3c0a0);
}
nav div button.addCategory:hover {
  color: var(--hover-color, #d6cbb9);
}
nav div button.addCategoryMobile {
  /* width: 3rem;
  height: 3rem; */
  background-color: var(--main-color, #d3c0a0);
  /* bottom: 1rem; */
  right: 1rem;
}
nav div button.addCategoryMobile:hover {
  background-color: var(--hover-color, #d6cbb9);
}
nav div.modal-dialog button.saveCategory {
  color: var(--task-color);
  border-color: var(--task-color);
}
nav div.modal-dialog button.saveCategory:hover {
  color: white;
  background-color: var(--task-color);
}
nav div input.category {
  color: #4f4f4c;
  outline: none;
}
nav div button.addCategoryMobile .iconePlus {
  /* width: 9px;
  height: 9px;
  bottom: 13px;
  right: 12px;
  background-color: var(--main-color);
  font-size: 14px; */
}
nav div button.addCategoryMobile .iconePlus + i {
  /* font-size: 18px; */
}
nav div span.plusCategory {
  /* width: 1.5rem;
  height: 1.5rem;
  background-color: var(--main-color, #d3c0a0); */
}
nav div span.plusCategory:hover {
  /* background-color: var(--hover-color, #d6cbb9);
  cursor: pointer; */
}
/* end navbar */

/* start header */
header a.addTask {
  color: #88bdbc;
  color: var(--task-color, #88bdbc);
  border-bottom-color: var(--task-color, #88bdbc) !important;
  text-decoration: none;
}
header a.addTask:hover {
  color: var(--task-hover, #5c9ea0);
  border-bottom-color: var(--task-hover, #5c9ea0) !important;
}

header div a.addTaskMobile {
  /* width: 3rem;
  height: 3rem; */
  background-color: var(--task-color, #88bdbc);
  font-size: 0.8rem;
  /* bottom: 1rem; */
  left: 1rem;
}
header div a.addTaskMobile:hover {
  background-color: var(--task-hover, #5c9ea0);
}
header form input.form-control:focus {
  box-shadow: 0px 4px 8px #dae1e9 !important;
  border: none;
}
header form i {
  /* right: 1rem; */
  /* color: #888; */
  width: fit-content;
  cursor: pointer;
}
header form button {
  border-color: #3384db !important;
  color: #3384db !important;
}
header div.dropdown .buttonDrop:hover {
  color: gray;
}
/* end header */

/* start part tasks in home */
.container .card .card-body .form-check-input:checked {
  background-color: #b6b5b5 !important;
}
.container .card .card-body .form-check label {
  font-size: 1.2rem !important;
}
.container .card .card-body .priority {
  /* background-color: #f9e498; */
  /* padding: 0.3rem 0.8rem; */
  /* border-radius: 2rem; شكل pill */
  /* font-weight: 500;
  text-transform: capitalize; */
  /* display: inline-block; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); */
}
.container .card .card-body .priority.low {
  background-color: red;
}
.container .card .card-body .priority.medium {
  background-color: #f9e498;
}
.container .card .card-body .priority.high {
  background-color: blue;
}
.container .card .card-body .edit:hover {
  color: #4f4f4c !important;
  cursor: pointer;
  /* color:blue !important; */
  /* background-color: red; */
}
.container .card .card-body .delete {
  color: #f38181;
}

.container .card .card-body .delete:hover {
  color: red !important;
  cursor: pointer;
}


.css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root{
  padding: 0 !important;
}

/* .dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
  position: absolute;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
} */



/* .MuiAutocomplete-popper {
  margin-top: 0px !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  background-color: red !important;
  color:red !important
} */



/* start Mui  */
.MuiInputBase-root{
  /* color:blue !important; */
  padding: 0 !important;
}
.MuiInputBase-root input{
  /* color:red !important; */
  /* padding-left: 1rem; */
  padding-inline: 2rem;
}
/* end Mui */
